<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
	</head>
	<body>
		
		<h1>1.- Todas las ligas de Beaseball</h1>
		<ol>
			{% for liga in ligas_baseball %}
				<li>{{liga.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		
		<h1>2.- Todas las ligas de Mujeres</h1>
		<ol>
			{% for liga in ligas_mujeres %}
				<li>{{liga.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		
		<h1>3.- Todas las ligas de Hockey</h1>
		<ol>
			{% for liga in ligas_hockey %}
				<li>{{liga.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		
		<h1>4.- Todas las ligas que no son Football</h1>
		<ol>
			{% for liga in ligas_no_football %}
				<li>{{liga.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1>5.- Todas las ligas Conference</h1>
		<ol>
			{% for liga in ligas_conference %}
				<li>{{liga.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		
		<h1>6.- Todas las ligas Atlantic</h1>
		<ol>
			{% for liga in ligas_atlantic %}
				<li>{{liga.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		
		<h1>7.- Todos los equipos en Dallas</h1>
		<ol>
			{% for equ in equipos_dallas %}
				<li>{{equ.location}} - {{equ.team_name}}</li>
			{% empty %}
				<p>No team found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		
		
		<h1>8.- Todos los equipos llamados Raptors</h1>
		<ol>
			{% for equ in equipos_raptors %}
				<li>{{equ.location}} - {{equ.team_name}}</li>
			{% empty %}
				<p>No team found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		
		
		<h1>9.- Todos los equipos con locacion 'City'</h1>
		<ol>
			{% for equ in equipos_city %}
				<li>{{equ.location}} - {{equ.team_name}}</li>
			{% empty %}
				<p>No team found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		
		
		<h1>10.- Todos los equipos que empiezan con 'T'</h1>
		<ol>
			{% for equ in equipos_t %}
				<li>{{equ.location}} - {{equ.team_name}}</li>
			{% empty %}
				<p>No team found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		
		<h1>11.- Todos los equipos ordenados por locacion</h1>
		<ol>
			{% for equ in equipos_orderby_loc %}
				<li>{{equ.location}} - {{equ.team_name}}</li>
			{% empty %}
				<p>No team found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		
		<h1>12.- Todos los equipos ordenados por nombre equipos ascendente</h1>
		<ol>
			{% for equ in equipos_orderby_teaminv %}
				<li>{{equ.location}} - {{equ.team_name}} - ({{equ.league.name}}-{{equ.league.sport}})
				</li>
			{% empty %}
				<p>No team found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		
		<h1>13.- Todos los jugadores con apellido 'Cooper'</h1>
		<ol>
			{% for jug in players_coopers %}
				<li>{{jug.first_name}} {{jug.last_name}} - Equipo actual:{{jug.curr_team.location}} {{jug.curr_team.team_name}} - Deporte: {{jug.curr_team.league.sport}}</li>
			{% empty %}
				<p>No team found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		
		<h1>14.- Todos los jugadores con nombre 'Joshua'</h1>
		<ol>
			{% for jug in players_joshua %}
				<li>{{jug.first_name}} {{jug.last_name}} - Equipo actual:{{jug.curr_team.location}} {{jug.curr_team.team_name}} - Deporte: {{jug.curr_team.league.sport}} </li>
			{% empty %}
				<p>No team found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		
		<h1>15.- Todos los jugadores con apellido 'Cooper' que no se llamen 'Joshua'</h1>
		<ol>
			{% for jug in players_coopers_nojoshua %}
				<li>{{jug.first_name}} {{jug.last_name}} - Equipo actual:{{jug.curr_team.location}} {{jug.curr_team.team_name}} - Deporte: {{jug.curr_team.league.sport}} </li>
			{% empty %}
				<p>No team found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		
		<h1>16.- Todos los jugadores con nombre 'Alexander' o 'Wyatt'</h1>
		<ol>
			{% for jug in players_alexander_o_wyatt %}
				<li>{{jug.first_name}} {{jug.last_name}} - Equipo actual:{{jug.curr_team.location}} {{jug.curr_team.team_name}} - Deporte: {{jug.curr_team.league.sport}} </li>
			{% empty %}
				<p>No team found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		
		<h1>16b.- Todos los jugadores con nombre 'Alexander' o 'Wyatt' Q</h1>
		<ol>
			{% for jug in players_alexander_o_wyattq %}
				<li>{{jug.first_name}} {{jug.last_name}} - Equipo actual:{{jug.curr_team.location}} {{jug.curr_team.team_name}} - Deporte: {{jug.curr_team.league.sport}} </li>
			{% empty %}
				<p>No team found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		


		<h1>Todas las Ligas</h1>
		<ol>
			{% for league in leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Teams</h1>
		<ol>
			{% for team in teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Players</h1>
		<ol>
			{% for player in players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
	</body>
</html>